@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.label{
@apply text-sm font-medium text-slate-700 mb-1 block;
}

.input{
@apply w-full border border-slate-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none;
}
